# Files to be excluded from my GitHub repository and the likely reasons why

# Virtual Environment specific files
.venv/
venv/
# Reasons: file size (often large); specific to my computer/setup (External users should set up their own venv using the req txt file).

# Environment variables
.env
# Should be ignored for security reasons - can include keys/credentials such as passwords and usernames as well as other configurations

# Python cache files
__pycache__/ 
*.py[cod]
# Cache files which are automatically created compiled code for the sake of speeding up processes - specific to my system and uneccesary 

# VSCode files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/